<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness World</title>
    <link rel="stylesheet" href="/static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Header section starts -->
    <header>
        <a href="#" class="logo"> <span>Erai</span> Multi-fit Gym</a>
        <div id="menu" class="fas fa-bars"></div>
        <nav class="navbar">
            <ul>
                <li><a class="active" href="#home">home</a></li>
                <li><a href="#about">about</a></li>
                <li><a href="#service">services</a></li>
                <li><a href="#trainer">trainer</a></li>
                <li><a href="#plan">plan</a></li>
                <li><a href="#register">register</a></li>
            </ul>
        </nav>
    </header>

    <!-- header section ends -->


    <!-- home section starts -->
    <section id="home" class="home">
        <h1>when life gives you pain <br> go to gym </h1>
        <a href="#register"><button class="btn">get started</button></a>

    </section>


    <!-- home section ends -->

    <!-- about section starts -->
    <section class="about" id="about">
        <div class="row">
            <div class="image">
                <img src="/static/images/about.jpg" alt="">
            </div>

            <div class="content">
                <h3>a word about us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat quo nisi nesciunt, temporibus alias
                    neque!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, officiis!</p>
                <a href="#"><button class="btn">learn more</button></a>
            </div>
        </div>
    </section>


    <!-- about section ends -->

    <!-- service section starts -->
    <section class="service" id="service">
        <h1 class="heading">Our Services</h1>
        <div class="box-container">

            <div class="box">
                <img src="/static/images/img1.jpg" alt="">
                <div class="info">
                    <h3>treadmill</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quod!</p>
                    <a href="#"><button class="btn">more</button></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/images/img2.jpg" alt="">
                <div class="info">
                    <h3>yoga</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quod!</p>
                    <a href="#"><button class="btn">more</button></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/images/img3.jpg" alt="">
                <div class="info">
                    <h3>trainer</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quod!</p>
                    <a href="#"><button class="btn">more</button></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/images/img4.jpg" alt="">
                <div class="info">
                    <h3>equipement</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quod!</p>
                    <a href="#"><button class="btn">more</button></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/images/img5.jpg" alt="">
                <div class="info">
                    <h3>boxing</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quod!</p>
                    <a href="#"><button class="btn">more</button></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/images/img6.jpg" alt="">
                <div class="info">
                    <h3>weight-lifting</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, quod!</p>
                    <a href="#"><button class="btn">more</button></a>
                </div>
            </div>

        </div>
    </section>



    <!-- servicesection ends -->

    <!-- trainers section starts -->
    <section class="trainer" id="trainer">
        <h1 class="heading">our trainers</h1>
        <div class="box-container">

            <div class="box">
                <img src="/static/images/coach1.png" alt="">
                <div class="info">
                    <h3>vishwas meshram</h3>
                </div>
                <div class="share">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

            <div class="box">
                <img src="/static/images/coach2.png" alt="">
                <div class="info">
                    <h3>Jessi Ramteke</h3>
                </div>
                <div class="share">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>


            <div class="box">
                <img src="/static/images/coach3.png" alt="">
                <div class="info">
                    <h3>Ayush Bhagat</h3>
                </div>
                <div class="share">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>


            <div class="box">
                <img src="/static/images/coach4.png" alt="">
                <div class="info">
                    <h3>Ujjwal kant</h3>
                </div>
                <div class="share">
                    <a href="#" class="fab fa-facebook"></a>
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-instagram"></a>
                    <a href="#" class="fab fa-linkedin"></a>
                </div>
            </div>

        </div>
    </section>


    <!-- trainers section ends -->

    <!-- plan section starts -->

    <section class="plan" id="plan">
        <h1 class="heading">membership plans</h1>
        <div class="box-container">

            <div class="box">
                <h3 class="title">basic</h3>
                <h3 class="price">1000 <span>/mo</span></h3>
                <h3 class="month">3 month</h3>
                <ul>
                    <li><i class="fas fa-check"></i>weight-lifting</li>
                    <li><i class="fas fa-check"></i>cardion</li>
                    <li><i class="fas fa-check"></i>yoga</li>
                    <li><i class="fas fa-check"></i>training</li>
                    <li><i class="fas fa-check"></i>portien powder</li>
                </ul>
                <a href="#"><button class="btn">check out</button></a>
            </div>

            <div class="box">
                <h3 class="title">standered</h3>
                <h3 class="price">2000 <span>/mo</span></h3>
                <h3 class="month">6 month</h3>
                <ul>
                    <li><i class="fas fa-check"></i>weight-lifting</li>
                    <li><i class="fas fa-check"></i>cardion</li>
                    <li><i class="fas fa-check"></i>yoga</li>
                    <li><i class="fas fa-check"></i>training</li>
                    <li><i class="fas fa-check"></i>portien powder</li>
                </ul>
                <a href="#"><button class="btn">check out</button></a>
            </div>

            <div class="box">
                <h3 class="title">permium</h3>
                <h3 class="price">3000 <span>/mo</span></h3>
                <h3 class="month">12 month</h3>
                <ul>
                    <li><i class="fas fa-check"></i>weight-lifting</li>
                    <li><i class="fas fa-check"></i>cardion</li>
                    <li><i class="fas fa-check"></i>yoga</li>
                    <li><i class="fas fa-check"></i>training</li>
                    <li><i class="fas fa-check"></i>portien powder</li>
                </ul>
                <a href="#"><button class="btn">check out</button></a>
            </div>

        </div>
    </section>

    <!-- plan section ends -->

    <!-- register section starts -->

    <section id="register" class="register">
        <h1 class="heading">register now</h1>

        

        <form action="/register" autocomplete="off" method="post">

            <div class="inputBox">
                <input type="text" placeholder="Your Name" name="task">
                <input type="email" placeholder="Your Email" name="email">
                <input type="phone" placeholder="Your Number" name="number">
                <input type="text" name="age" placeholder="Enter your Age">

            </div>

            <div class="gender">
                <label for="gender">Choose your Gender:</label>
                <input list="browsers" name="gender" id="browser">
                <datalist id="browsers">
                    <option value="Male">
                    <option value="Female">
                </datalist>
            </div>

            

            <input type="submit" class="btn" value="register">

        </form>

    </section>



    <!-- register section ends -->

    <!-- footer section starts -->

    <section class="footer">
        created by <a href="#">Mr. BHUSHAN GAWANDE (9359512750) || All Rights Reserved</a>
    </section>


    <!-- footer section ends -->

    <!-- jquery cdn link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- custom js file link -->
    <script src="/static/main.js"></script>

</body>

</html>